Monitoramento Remoto/Exemplo2_Azure_IOT_Remoto.json
[{"id":"ead9cef.536ff3","type":"tab","label":"Node Red Remoto"},{"id":"5c60118a.6c75c","type":"function","z":"ead9cef.536ff3","name":"","func":"azureEventHubs = global.get('azureEventHubs');\nvar EventHubClient = azureEventHubs.Client;\n\nvar connectionString = \"HostName=BootcampIOTHub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=meTdhbfAX3xlczb5NeqCITXWFyZ6EsmTNXgJVT9XWRg=\";\n\nvar printError = function (err) {\n    //node.send({payload:err.message});\n};\n\nvar printMessage = function (message) {\n    var msg1 = {};\n    \n    //msg1.payload = 'Message received: ';\n    //msg1.payload += JSON.stringify(message.body);\n    //msg1.payload += '';\n    msg1 = JSON.parse(message.body);\n    \n    node.send(msg1);\n};\n\nvar client = EventHubClient.fromConnectionString(connectionString);\nclient.open()\n    .then(client.getPartitionIds.bind(client))\n    .then(function (partitionIds) {\n        return partitionIds.map(function (partitionId) {\n            return client.createReceiver('$Default', partitionId, { 'startAfterTime' : Date.now()}).then(function(receiver) {\n                //msg1 = 'Created partition receiver: ' + partitionId;\n                //node.send({payload:msg1})\n                receiver.on('errorReceived', printError);\n                receiver.on('message', printMessage);\n            });\n        });\n    })\n    .catch(printError);","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["683afdd0.361aa4","9dbc2f62.56e87"]]},{"id":"683afdd0.361aa4","type":"debug","z":"ead9cef.536ff3","name":"","active":true,"console":"false","complete":"false","x":330,"y":320,"wires":[]},{"id":"4db5dcc8.7761c4","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":770,"y":340,"wires":[]},{"id":"30222d67.482092","type":"switch","z":"ead9cef.536ff3","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/humidity","vt":"str"},{"t":"eq","v":"sensorTag/temperature","vt":"str"},{"t":"eq","v":"sensorTag/pressure","vt":"str"},{"t":"eq","v":"sensorTag/accelerometer","vt":"str"},{"t":"eq","v":"sensorTag/magnetometer","vt":"str"},{"t":"eq","v":"sensorTag/gyroscope","vt":"str"},{"t":"eq","v":"sensorTag/luxometer","vt":"str"},{"t":"eq","v":"sensorTag/keys","vt":"str"}],"checkall":"true","outputs":8,"x":550,"y":380,"wires":[["4db5dcc8.7761c4","d2956bbb.359598"],["10601c5b.72ac84","cf2b02d0.5aaba"],["4be3056e.459b6c","c40d327d.7181"],["62f134cf.9bd76c","2ef9c331.404d6c"],["ee6f5ed3.0bb3c","4b8a391e.080c68"],["bfe34ddd.7f178","57077524.d4051c"],["e927bcd0.dd458","1216fc2.6d0b704"],["9eb9a2f1.61ef4","6ea8bd91.43f904"]]},{"id":"10601c5b.72ac84","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":770,"y":500,"wires":[]},{"id":"4be3056e.459b6c","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":770,"y":620,"wires":[]},{"id":"62f134cf.9bd76c","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":770,"y":740,"wires":[]},{"id":"ee6f5ed3.0bb3c","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"false","x":770,"y":860,"wires":[]},{"id":"bfe34ddd.7f178","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"false","x":770,"y":981,"wires":[]},{"id":"e927bcd0.dd458","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":770,"y":1100,"wires":[]},{"id":"9eb9a2f1.61ef4","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"false","x":770,"y":1240,"wires":[]},{"id":"95abc3bb.4f72","type":"ui_chart","z":"ead9cef.536ff3","name":"Temperaturas","group":"a43905b.bd7d4f8","order":1,"width":"6","height":"10","label":"Temperaturas","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1060,"y":380,"wires":[[],[]]},{"id":"d2956bbb.359598","type":"function","z":"ead9cef.536ff3","name":"Temperatura/ Umidade","func":"var out1 = {};\nvar out2 = {};\n\nout1.topic = \"Temperatura Sensor Umidade (celsius)\";\nout1.payload = msg.payload.temperature;\nout2.topic = \"Umidade (%)\";\nout2.payload = msg.payload.humidity;\n\nreturn [out1, out2];","outputs":"2","noerr":0,"x":810,"y":300,"wires":[["95abc3bb.4f72","b0f3e57.79a7d18","eee67d38.f38c9"],["5a38d81a.a7b7b8"]]},{"id":"b0f3e57.79a7d18","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"false","x":1050,"y":280,"wires":[]},{"id":"cf2b02d0.5aaba","type":"function","z":"ead9cef.536ff3","name":"Temperatura IR","func":"var out1 = {};\nvar out2 = {};\n\nout1.topic = \"Temperatura IR (celsius)\";\nout1.payload = msg.payload.object;\nout2.topic = \"Temperatura Ambiente (celsius)\";\nout2.payload = msg.payload.ambient;\n\nreturn [out1, out2];","outputs":"2","noerr":0,"x":780,"y":460,"wires":[["95abc3bb.4f72","a2a5a161.8b951"],["95abc3bb.4f72","e51f70ef.6dcd2"]]},{"id":"e51f70ef.6dcd2","type":"ui_gauge","z":"ead9cef.536ff3","name":"","group":"6eccb39e.8248ac","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Ambiente","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":480,"wires":[]},{"id":"ebe3e4a6.494598","type":"ui_gauge","z":"ead9cef.536ff3","name":"","group":"bd1b3cd4.8782a","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressão","label":"hPa","format":"{{value}}","min":0,"max":"4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":577,"wires":[]},{"id":"c40d327d.7181","type":"function","z":"ead9cef.536ff3","name":"Pressão","func":"msg.topic = \"Pressão (hPa)\";\nmsg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":577,"wires":[["ebe3e4a6.494598"]]},{"id":"4a79f6ec.4ba9c8","type":"ui_chart","z":"ead9cef.536ff3","name":"Acelerômetro (m/s2)","group":"69e6796.1c98788","order":0,"width":0,"height":0,"label":"Acelerômetro (m/s2)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1080,"y":700,"wires":[[],[]]},{"id":"2ef9c331.404d6c","type":"function","z":"ead9cef.536ff3","name":"Acelerômetro","func":"var outX = {};\nvar outY = {};\nvar outZ = {};\n\noutX.topic = \"X (m/s2)\";\noutX.payload = msg.payload.x;\noutY.topic = \"Y (m/s2)\";\noutY.payload = msg.payload.y;\noutZ.topic = \"Z (m/s2)\";\noutZ.payload = msg.payload.z;\n\nreturn [outX,outY,outZ];","outputs":"3","noerr":0,"x":780,"y":700,"wires":[["4a79f6ec.4ba9c8","110bf5f9.553aca"],["4a79f6ec.4ba9c8"],["4a79f6ec.4ba9c8"]]},{"id":"1216fc2.6d0b704","type":"function","z":"ead9cef.536ff3","name":"Luxímetro","func":"msg.topic = \"Luxímetro (lux)\";\nmsg.payload = msg.payload.lux;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1060,"wires":[["d32f91f5.e05a9"]]},{"id":"d32f91f5.e05a9","type":"ui_gauge","z":"ead9cef.536ff3","name":"","group":"bd1b3cd4.8782a","order":2,"width":0,"height":0,"gtype":"gage","title":"Luxímetro","label":"lx","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":1060,"wires":[]},{"id":"6ea8bd91.43f904","type":"function","z":"ead9cef.536ff3","name":"Chave Magnética","func":"var keys = {};\nvar left = {};\nvar right = {};\nvar magnet = {};\n\nleft.topic = \"Botão Esquerdo\";\nleft.payload = msg.payload.left;\nright.topic = \"Botão Direito\";\nright.payload = msg.payload.right;\nmagnet.topic = \"Chave Magnética\";\nmagnet.payload = msg.payload.magnet;\n\nkeys.payload = {\n    left: {\n        name: left.topic,\n        state: left.payload\n    },\n    right: {\n        name: right.topic,\n        state: right.payload\n    },\n    magnet: {\n        name: magnet.topic,\n        state: magnet.payload\n    }\n};\n\nreturn [keys,left,right,magnet];","outputs":"4","noerr":0,"x":790,"y":1180,"wires":[["4e530024.7276e","b9d5bae7.5c76d8"],[],[],["9844d9c5.dcca88"]]},{"id":"4b8a391e.080c68","type":"function","z":"ead9cef.536ff3","name":"Bússola/Magnetômetro","func":"var outX = {};\nvar outY = {};\nvar outZ = {};\n\noutX.topic = \"X (uT)\";\noutX.payload = msg.payload.x;\noutY.topic = \"Y (uT)\";\noutY.payload = msg.payload.y;\noutZ.topic = \"Z (uT)\";\noutZ.payload = msg.payload.z;\n\nreturn [outX,outY,outZ];","outputs":"3","noerr":0,"x":810,"y":820,"wires":[["36deb0f8.e63fb"],["36deb0f8.e63fb"],["36deb0f8.e63fb"]]},{"id":"57077524.d4051c","type":"function","z":"ead9cef.536ff3","name":"Giroscópio","func":"var outX = {};\nvar outY = {};\nvar outZ = {};\n\noutX.topic = \"X (graus/s)\";\noutX.payload = msg.payload.x;\noutY.topic = \"Y (graus/s)\";\noutY.payload = msg.payload.y;\noutZ.topic = \"Z (graus/s)\";\noutZ.payload = msg.payload.z;\n\nreturn [outX,outY,outZ];","outputs":"3","noerr":0,"x":770,"y":940,"wires":[["5faf98a7.eb2b68"],["5faf98a7.eb2b68"],["5faf98a7.eb2b68"]]},{"id":"110bf5f9.553aca","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":1050,"y":740,"wires":[]},{"id":"36deb0f8.e63fb","type":"ui_chart","z":"ead9cef.536ff3","name":"Magnetrômetro (Bússola) uT","group":"69e6796.1c98788","order":0,"width":0,"height":0,"label":"Magnetrômetro (Bússola) uT","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1100,"y":820,"wires":[[],[]]},{"id":"5faf98a7.eb2b68","type":"ui_chart","z":"ead9cef.536ff3","name":"Giroscópio (graus/s)","group":"69e6796.1c98788","order":0,"width":0,"height":0,"label":"Giroscópio (graus/s)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1080,"y":940,"wires":[[],[]]},{"id":"5a38d81a.a7b7b8","type":"ui_gauge","z":"ead9cef.536ff3","name":"","group":"bd1b3cd4.8782a","order":3,"width":"6","height":"4","gtype":"wave","title":"Umidade","label":"%","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":240,"wires":[]},{"id":"9844d9c5.dcca88","type":"ui_toast","z":"ead9cef.536ff3","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1070,"y":1200,"wires":[]},{"id":"4e530024.7276e","type":"ui_template","z":"ead9cef.536ff3","group":"69e6796.1c98788","name":"","order":0,"width":"6","height":"2","format":"<div layout=\"row\" layout-align=\"start center\">\n    <span flex>Chave</span>\n    <span flex>Estado</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"key in msg.payload\">\n    <span flex style=\"color: green\">{{key.name}}</span>\n    <span flex style=\"color: red\">{{key.state}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1040,"y":1160,"wires":[[]]},{"id":"a2a5a161.8b951","type":"ui_gauge","z":"ead9cef.536ff3","name":"","group":"6eccb39e.8248ac","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura IR","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":440,"wires":[]},{"id":"eee67d38.f38c9","type":"ui_gauge","z":"ead9cef.536ff3","name":"","group":"6eccb39e.8248ac","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Sensor Umidade","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":200,"wires":[]},{"id":"b9d5bae7.5c76d8","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"false","x":1050,"y":1240,"wires":[]},{"id":"9dbc2f62.56e87","type":"function","z":"ead9cef.536ff3","name":"","func":"enableButton = flow.get(\"enableSwitch\");\n\nif (enableButton === true) {\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["30222d67.482092","7ff96eb8.5fcfc"]]},{"id":"7ff96eb8.5fcfc","type":"debug","z":"ead9cef.536ff3","name":"","active":false,"console":"false","complete":"payload","x":514,"y":492,"wires":[]},{"id":"93deca4b.2d1738","type":"function","z":"ead9cef.536ff3","name":"","func":"flow.set(\"enableSwitch\", msg.payload);\nvar msg1 = {};\nmsg1.payload = \"Habilitar fluxo: \" + msg.payload.toString();\nreturn msg1;","outputs":1,"noerr":0,"x":370,"y":660,"wires":[["cee6a9ec.18ab28"]]},{"id":"cee6a9ec.18ab28","type":"debug","z":"ead9cef.536ff3","name":"","active":true,"console":"false","complete":"payload","x":510,"y":660,"wires":[]},{"id":"99cbe8ba.2ef158","type":"ui_switch","z":"ead9cef.536ff3","name":"","label":"Habilitar fluxo de dados","group":"610f6637.7c6aa8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":600,"wires":[["93deca4b.2d1738"]]},{"id":"a8ea9852.19ff68","type":"inject","z":"ead9cef.536ff3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110,"y":440,"wires":[["5c60118a.6c75c"]]},{"id":"a43905b.bd7d4f8","type":"ui_group","z":"","name":"Curvas das Temperaturas","tab":"26eca9e7.b6c9b6","order":1,"disp":true,"width":"6"},{"id":"6eccb39e.8248ac","type":"ui_group","z":"","name":"Home","tab":"3dc3f2f1.d7befe","order":2,"disp":true,"width":"6"},{"id":"bd1b3cd4.8782a","type":"ui_group","z":"","name":"Outros 1","tab":"3dc3f2f1.d7befe","order":3,"disp":true,"width":"6"},{"id":"69e6796.1c98788","type":"ui_group","z":"","name":"Outros 2","tab":"3dc3f2f1.d7befe","order":4,"disp":true,"width":"6"},{"id":"610f6637.7c6aa8","type":"ui_group","z":"","name":"Ações","tab":"3dc3f2f1.d7befe","order":1,"disp":true,"width":"6"},{"id":"26eca9e7.b6c9b6","type":"ui_tab","z":"","name":"Temperaturas","icon":"dashboard","order":2},{"id":"3dc3f2f1.d7befe","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]