Monitoramento Remoto/Exemplo2_Azure_IOT_Raspberry.json
[{"id":"e68d6301.1d58b","type":"tab","label":"Node Red Raspberry"},{"id":"17654bc0.b1c564","type":"sensorTag","z":"e68d6301.1d58b","name":"","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":60,"y":200,"wires":[["40c6be84.2fe46","a1971381.062fe"]]},{"id":"40c6be84.2fe46","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":130,"y":80,"wires":[]},{"id":"8ef6249.dbea6d8","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":510,"y":160,"wires":[]},{"id":"30cf9a5.5613f66","type":"switch","z":"e68d6301.1d58b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/humidity","vt":"str"},{"t":"eq","v":"sensorTag/temperature","vt":"str"},{"t":"eq","v":"sensorTag/pressure","vt":"str"},{"t":"eq","v":"sensorTag/accelerometer","vt":"str"},{"t":"eq","v":"sensorTag/magnetometer","vt":"str"},{"t":"eq","v":"sensorTag/gyroscope","vt":"str"},{"t":"eq","v":"sensorTag/luxometer","vt":"str"},{"t":"eq","v":"sensorTag/keys","vt":"str"}],"checkall":"true","outputs":8,"x":290,"y":200,"wires":[["8ef6249.dbea6d8","d53b52bf.76851"],["74e88e30.5633a","5f005de6.399b84"],["a81e769f.89ca28","165e9a7f.f91286"],["4987b002.cbea","f0189ccb.c3d64"],["b48d4437.142518","36cbc2e2.9cd53e"],["f4d5bed4.198ea","cef2c96d.b9dcc8"],["672f2386.b8734c","bf1ef4d5.c522e8"],["6c6566e2.c4f308","ee5112cf.6c0c"]]},{"id":"74e88e30.5633a","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":510,"y":320,"wires":[]},{"id":"a81e769f.89ca28","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":510,"y":440,"wires":[]},{"id":"4987b002.cbea","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":510,"y":560,"wires":[]},{"id":"b48d4437.142518","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"false","x":510,"y":680,"wires":[]},{"id":"f4d5bed4.198ea","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"false","x":510,"y":801,"wires":[]},{"id":"672f2386.b8734c","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":510,"y":920,"wires":[]},{"id":"6c6566e2.c4f308","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"false","x":510,"y":1060,"wires":[]},{"id":"2a9e0e69.e02822","type":"ui_chart","z":"e68d6301.1d58b","name":"Temperaturas","group":"d68cae01.c429d","order":1,"width":"6","height":"10","label":"Temperaturas","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":800,"y":200,"wires":[[],[]]},{"id":"d53b52bf.76851","type":"function","z":"e68d6301.1d58b","name":"Temperatura/ Umidade","func":"var out1 = {};\nvar out2 = {};\n\nout1.topic = \"Temperatura Sensor Umidade (celsius)\";\nout1.payload = msg.payload.temperature;\nout2.topic = \"Umidade (%)\";\nout2.payload = msg.payload.humidity;\n\nreturn [out1, out2];","outputs":"2","noerr":0,"x":550,"y":120,"wires":[["2a9e0e69.e02822","2088b88a.62f4c8","1bc8821a.e36b6e"],["b981369a.8f52e8"]]},{"id":"2088b88a.62f4c8","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"false","x":790,"y":100,"wires":[]},{"id":"5f005de6.399b84","type":"function","z":"e68d6301.1d58b","name":"Temperatura IR","func":"var out1 = {};\nvar out2 = {};\n\nout1.topic = \"Temperatura IR (celsius)\";\nout1.payload = msg.payload.object;\nout2.topic = \"Temperatura Ambiente (celsius)\";\nout2.payload = msg.payload.ambient;\n\nreturn [out1, out2];","outputs":"2","noerr":0,"x":520,"y":280,"wires":[["2a9e0e69.e02822","bb3433df.86e8b"],["2a9e0e69.e02822","af8b3fef.96d65"]]},{"id":"af8b3fef.96d65","type":"ui_gauge","z":"e68d6301.1d58b","name":"","group":"a41869c9.5f5e08","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Ambiente","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":300,"wires":[]},{"id":"f1bab5ee.c3c8f8","type":"ui_gauge","z":"e68d6301.1d58b","name":"","group":"7949effd.cf3ca","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressão","label":"hPa","format":"{{value}}","min":0,"max":"4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":397,"wires":[]},{"id":"165e9a7f.f91286","type":"function","z":"e68d6301.1d58b","name":"Pressão","func":"msg.topic = \"Pressão (hPa)\";\nmsg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":397,"wires":[["f1bab5ee.c3c8f8"]]},{"id":"3ae05fb1.e72c6","type":"ui_chart","z":"e68d6301.1d58b","name":"Acelerômetro (m/s2)","group":"a05c4a87.c069d8","order":0,"width":0,"height":0,"label":"Acelerômetro (m/s2)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":820,"y":520,"wires":[[],[]]},{"id":"f0189ccb.c3d64","type":"function","z":"e68d6301.1d58b","name":"Acelerômetro","func":"var outX = {};\nvar outY = {};\nvar outZ = {};\n\noutX.topic = \"X (m/s2)\";\noutX.payload = msg.payload.x;\noutY.topic = \"Y (m/s2)\";\noutY.payload = msg.payload.y;\noutZ.topic = \"Z (m/s2)\";\noutZ.payload = msg.payload.z;\n\nreturn [outX,outY,outZ];","outputs":"3","noerr":0,"x":520,"y":520,"wires":[["3ae05fb1.e72c6","a946965f.6766f8"],["3ae05fb1.e72c6"],["3ae05fb1.e72c6"]]},{"id":"bf1ef4d5.c522e8","type":"function","z":"e68d6301.1d58b","name":"Luxímetro","func":"msg.topic = \"Luxímetro (lux)\";\nmsg.payload = msg.payload.lux;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":880,"wires":[["1fd13464.50207c"]]},{"id":"1fd13464.50207c","type":"ui_gauge","z":"e68d6301.1d58b","name":"","group":"7949effd.cf3ca","order":2,"width":0,"height":0,"gtype":"gage","title":"Luxímetro","label":"lx","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":880,"wires":[]},{"id":"ee5112cf.6c0c","type":"function","z":"e68d6301.1d58b","name":"Chave Magnética","func":"var keys = {};\nvar left = {};\nvar right = {};\nvar magnet = {};\n\nleft.topic = \"Botão Esquerdo\";\nleft.payload = msg.payload.left;\nright.topic = \"Botão Direito\";\nright.payload = msg.payload.right;\nmagnet.topic = \"Chave Magnética\";\nmagnet.payload = msg.payload.magnet;\n\nkeys.payload = {\n    left: {\n        name: left.topic,\n        state: left.payload\n    },\n    right: {\n        name: right.topic,\n        state: right.payload\n    },\n    magnet: {\n        name: magnet.topic,\n        state: magnet.payload\n    }\n};\n\nreturn [keys,left,right,magnet];","outputs":"4","noerr":0,"x":530,"y":1000,"wires":[["f807d9b4.bbf388","418fbe22.4d442"],[],[],["c50f1bd5.c318f8"]]},{"id":"36cbc2e2.9cd53e","type":"function","z":"e68d6301.1d58b","name":"Bússola/Magnetômetro","func":"var outX = {};\nvar outY = {};\nvar outZ = {};\n\noutX.topic = \"X (uT)\";\noutX.payload = msg.payload.x;\noutY.topic = \"Y (uT)\";\noutY.payload = msg.payload.y;\noutZ.topic = \"Z (uT)\";\noutZ.payload = msg.payload.z;\n\nreturn [outX,outY,outZ];","outputs":"3","noerr":0,"x":550,"y":640,"wires":[["85608c56.a0a95"],["85608c56.a0a95"],["85608c56.a0a95"]]},{"id":"cef2c96d.b9dcc8","type":"function","z":"e68d6301.1d58b","name":"Giroscópio","func":"var outX = {};\nvar outY = {};\nvar outZ = {};\n\noutX.topic = \"X (graus/s)\";\noutX.payload = msg.payload.x;\noutY.topic = \"Y (graus/s)\";\noutY.payload = msg.payload.y;\noutZ.topic = \"Z (graus/s)\";\noutZ.payload = msg.payload.z;\n\nreturn [outX,outY,outZ];","outputs":"3","noerr":0,"x":510,"y":760,"wires":[["7776805a.ce621"],["7776805a.ce621"],["7776805a.ce621"]]},{"id":"a946965f.6766f8","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":790,"y":560,"wires":[]},{"id":"85608c56.a0a95","type":"ui_chart","z":"e68d6301.1d58b","name":"Magnetrômetro (Bússola) uT","group":"a05c4a87.c069d8","order":0,"width":0,"height":0,"label":"Magnetrômetro (Bússola) uT","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":840,"y":640,"wires":[[],[]]},{"id":"7776805a.ce621","type":"ui_chart","z":"e68d6301.1d58b","name":"Giroscópio (graus/s)","group":"a05c4a87.c069d8","order":0,"width":0,"height":0,"label":"Giroscópio (graus/s)","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":820,"y":760,"wires":[[],[]]},{"id":"b981369a.8f52e8","type":"ui_gauge","z":"e68d6301.1d58b","name":"","group":"7949effd.cf3ca","order":3,"width":"6","height":"4","gtype":"wave","title":"Umidade","label":"%","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":60,"wires":[]},{"id":"c50f1bd5.c318f8","type":"ui_toast","z":"e68d6301.1d58b","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":810,"y":1020,"wires":[]},{"id":"f807d9b4.bbf388","type":"ui_template","z":"e68d6301.1d58b","group":"a05c4a87.c069d8","name":"","order":0,"width":"6","height":"2","format":"<div layout=\"row\" layout-align=\"start center\">\n    <span flex>Chave</span>\n    <span flex>Estado</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"key in msg.payload\">\n    <span flex style=\"color: green\">{{key.name}}</span>\n    <span flex style=\"color: red\">{{key.state}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":780,"y":980,"wires":[[]]},{"id":"bb3433df.86e8b","type":"ui_gauge","z":"e68d6301.1d58b","name":"","group":"a41869c9.5f5e08","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura IR","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":260,"wires":[]},{"id":"1bc8821a.e36b6e","type":"ui_gauge","z":"e68d6301.1d58b","name":"","group":"a41869c9.5f5e08","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Sensor Umidade","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":20,"wires":[]},{"id":"418fbe22.4d442","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"false","x":790,"y":1060,"wires":[]},{"id":"62c4d07c.bae02","type":"azureiothub","z":"e68d6301.1d58b","name":"Azure IoT Hub","protocol":"amqp","x":160,"y":1200,"wires":[["87ae94d5.0ae9e8"]]},{"id":"e74ead59.8e854","type":"function","z":"e68d6301.1d58b","name":"Parâmetros do Azure","func":"var cloudSwitch = flow.get(\"cloudSwitch\");\n\nif(cloudSwitch===true)\n{\n    var azurePayload = {};\n    data = {};\n    \n    data.topic = msg.topic;\n    data.payload = msg.payload;\n    \n    azurePayload.payload = {\n      \"deviceId\": \"raspberry\",\n      \"key\": \"S15vU8L3cDf6eMLPutOlh42BNA14i8mKinn88+g9y9k=\",\n      \"protocol\": \"amqp\",\n      \"data\": JSON.stringify(data)\n    }\n    \n    return azurePayload;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":420,"y":1120,"wires":[["62c4d07c.bae02"]]},{"id":"87ae94d5.0ae9e8","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"false","x":330,"y":1200,"wires":[]},{"id":"c7f8d052.340ba","type":"delay","z":"e68d6301.1d58b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":102.8571548461914,"y":1122.8570938110352,"wires":[["67534b33.150ff4"]]},{"id":"a1971381.062fe","type":"function","z":"e68d6301.1d58b","name":"","func":"enableButton = flow.get(\"enableSwitch\");\n\nif (enableButton === true) {\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":150,"y":260,"wires":[["30cf9a5.5613f66","39401bca.982184","c7f8d052.340ba"]]},{"id":"39401bca.982184","type":"debug","z":"e68d6301.1d58b","name":"","active":false,"console":"false","complete":"payload","x":254,"y":312,"wires":[]},{"id":"67534b33.150ff4","type":"rbe","z":"e68d6301.1d58b","name":"","func":"rbe","gap":"","start":"","inout":"out","x":250,"y":1120,"wires":[["e74ead59.8e854"]]},{"id":"341ea55e.6aa36a","type":"function","z":"e68d6301.1d58b","name":"","func":"flow.set(\"enableSwitch\", msg.payload);\nvar msg1 = {};\nmsg1.payload = \"Habilitar fluxo: \" + msg.payload.toString();\nreturn msg1;","outputs":1,"noerr":0,"x":110,"y":480,"wires":[["52253ebc.0684b"]]},{"id":"52253ebc.0684b","type":"debug","z":"e68d6301.1d58b","name":"","active":true,"console":"false","complete":"payload","x":250,"y":480,"wires":[]},{"id":"daaee750.2e94b8","type":"ui_switch","z":"e68d6301.1d58b","name":"","label":"Habilitar fluxo de dados","group":"62cdac3c.205ed4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":420,"wires":[["341ea55e.6aa36a"]]},{"id":"369770be.1376","type":"ui_switch","z":"e68d6301.1d58b","name":"","label":"Enviar para a Nuvem","group":"62cdac3c.205ed4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":1260,"wires":[["3e1a3bc6.9d43a4"]]},{"id":"3e1a3bc6.9d43a4","type":"function","z":"e68d6301.1d58b","name":"","func":"flow.set(\"cloudSwitch\", msg.payload);\nvar msg1 = {};\nmsg1.payload = \"Enviar para a nuvem: \" + msg.payload.toString();\nreturn msg1;","outputs":1,"noerr":0,"x":310,"y":1260,"wires":[["a106f6f0.a68628"]]},{"id":"a106f6f0.a68628","type":"debug","z":"e68d6301.1d58b","name":"","active":true,"console":"false","complete":"payload","x":450,"y":1260,"wires":[]},{"id":"d68cae01.c429d","type":"ui_group","z":"","name":"Curvas das Temperaturas","tab":"919450f7.b6bd6","order":1,"disp":true,"width":"6"},{"id":"a41869c9.5f5e08","type":"ui_group","z":"","name":"Home","tab":"2860be19.a23fc2","order":2,"disp":true,"width":"6"},{"id":"7949effd.cf3ca","type":"ui_group","z":"","name":"Outros 1","tab":"2860be19.a23fc2","order":3,"disp":true,"width":"6"},{"id":"a05c4a87.c069d8","type":"ui_group","z":"","name":"Outros 2","tab":"2860be19.a23fc2","order":4,"disp":true,"width":"6"},{"id":"62cdac3c.205ed4","type":"ui_group","z":"","name":"Ações","tab":"2860be19.a23fc2","order":1,"disp":true,"width":"6"},{"id":"919450f7.b6bd6","type":"ui_tab","z":"","name":"Temperaturas","icon":"dashboard","order":2},{"id":"2860be19.a23fc2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]